# Allow rfkill for users in the netdev group
KERNEL=="rfkill", MODE="0664", GROUP="netdev"

# Handle allow-hotplug interfaces
SUBSYSTEM=="net", ACTION=="add", RUN+="/sbin/ifup $env{INTERFACE}"
SUBSYSTEM=="net", ACTION=="remove", RUN+="/sbin/ifdown $env{INTERFACE}"
