CONFIG_DEBUG=y
CONFIG_DEBUG_VERY_LOUD=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_SDCARD=y
CONFIG_SDHC1=y
CONFIG_LOAD_LINUX=y
CONFIG_OVERRIDE_CMDLINE_FROM_EXT_FILE=y
CONFIG_LINUX_KERNEL_ARG_STRING_FILE="cmdline.txt"
CONFIG_OF_OVERRIDE_DTB_NAME="acme-roadrunner.dtb"
CONFIG_IMAGE_NAME="zImage"
CONFIG_BACKUP_MODE=y
